<nav class="navbar">
    <div class="navbar_container">
        <a href="/" class="logo">TKT</a> 
        <div class="navbar_list">
            <a href="/inventory" class="listbuttons">Inventory</a>
            <a href="" class="listbuttons">About</a>
            <a href="/contact" class="listbuttons">Contact</a>
            <button class="listbuttons">Sign Up</button>
                <div class="container" id="burger" onclick="burgerAnimation()">
                    <div class="stick stick-1" id="stick1"></div>
                    <div class="stick stick-2" id="stick2"></div>
                    <div class="stick stick-3" id="stick3"></div>
                    <div class="dropdown-menu">
                        <a href="" class="buttonsDW">Product</a>
                        <a href="" class="buttonsDW">About</a>
                        <a href="" class="buttonsDW">Contact</a>
                        <button class="buttonsDW">Sign Up</button>
                    </div>
            </div>
        </div>
    </div>
</nav>