<body>
<div class="Form" [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label>Fill form field</mat-label>
        <input matInput type="text" formControlName="nume" placeholder="Nume">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Fill form field</mat-label>
        <input matInput type="text" formControlName="descriere" placeholder="Descriere">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Fill form field</mat-label>
        <input matInput type="text" formControlName="cantitate" placeholder="cantitate">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
</div>
</body>