<body>
<div class="Form" [formGroup]="form">
    <mat-form-field appearance="fill">
        <input matInput type="text" formControlName="name" placeholder="Nume">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input matInput type="text" formControlName="description" placeholder="Descriere">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input matInput type="text" formControlName="quantity" placeholder="Cantitate">
    </mat-form-field>
</div>
<div class="button-container">
    <button mat-raised-button class="inventory-button" (click)="saveItem()">
        {{ formButtonText }}
    </button>
      <button mat-raised-button class="inventory-button" (click)="closeDialog()">Close</button>
</div>
</body>